/*-------------------- JMOL COLORS START ----------------------*/
.jmol.H { background-color: #FFFFFF; }
.jmol.He { background-color: #D9FFFF; }
.jmol.Li { background-color: #CC80FF; }
.jmol.Be { background-color: #C2FF00; }
.jmol.B { background-color: #FFB5B5; }
.jmol.C { background-color: #909090; }
.jmol.N { background-color: #3050F8; }
.jmol.O { background-color: #FF0D0D; }
.jmol.F { background-color: #90E050; }
.jmol.Ne { background-color: #B3E3F5; }
.jmol.Na { background-color: #AB5CF2; }
.jmol.Mg { background-color: #8AFF00; }
.jmol.Al { background-color: #BFA6A6; }
.jmol.Si { background-color: #F0C8A0; }
.jmol.P { background-color: #FF8000; }
.jmol.S { background-color: #FFFF30; }
.jmol.Cl { background-color: #1FF01F; }
.jmol.Ar { background-color: #80D1E3; }
.jmol.K { background-color: #8F40D4; }
.jmol.Ca { background-color: #3DFF00; }
.jmol.Sc { background-color: #E6E6E6; }
.jmol.Ti { background-color: #BFC2C7; }
.jmol.V { background-color: #A6A6AB; }
.jmol.Cr { background-color: #8A99C7; }
.jmol.Mn { background-color: #9C7AC7; }
.jmol.Fe { background-color: #E06633; }
.jmol.Co { background-color: #F090A0; }
.jmol.Ni { background-color: #50D050; }
.jmol.Cu { background-color: #C88033; }
.jmol.Zn { background-color: #7D80B0; }
.jmol.Ga { background-color: #C28F8F; }
.jmol.Ge { background-color: #668F8F; }
.jmol.As { background-color: #BD80E3; }
.jmol.Se { background-color: #FFA100; }
.jmol.Br { background-color: #A62929; }
.jmol.Kr { background-color: #5CB8D1; }
.jmol.Rb { background-color: #702EB0; }
.jmol.Sr { background-color: #00FF00; }
.jmol.Y { background-color: #94FFFF; }
.jmol.Zr { background-color: #94E0E0; }
.jmol.Nb { background-color: #73C2C9; }
.jmol.Mo { background-color: #54B5B5; }
.jmol.Tc { background-color: #3B9E9E; }
.jmol.Ru { background-color: #248F8F; }
.jmol.Rh { background-color: #0A7D8C; }
.jmol.Pd { background-color: #006985; }
.jmol.Ag { background-color: #C0C0C0; }
.jmol.Cd { background-color: #FFD98F; }
.jmol.In { background-color: #A67573; }
.jmol.Sn { background-color: #668080; }
.jmol.Sb { background-color: #9E63B5; }
.jmol.Te { background-color: #D47A00; }
.jmol.I { background-color: #940094; }
.jmol.Xe { background-color: #429EB0; }
.jmol.Cs { background-color: #57178F; }
.jmol.Ba { background-color: #00C900; }
.jmol.La { background-color: #70D4FF; }
.jmol.Ce { background-color: #FFFFC7; }
.jmol.Pr { background-color: #D9FFC7; }
.jmol.Nd { background-color: #C7FFC7; }
.jmol.Pm { background-color: #A3FFC7; }
.jmol.Sm { background-color: #8FFFC7; }
.jmol.Eu { background-color: #61FFC7; }
.jmol.Gd { background-color: #45FFC7; }
.jmol.Tb { background-color: #30FFC7; }
.jmol.Dy { background-color: #1FFFC7; }
.jmol.Ho { background-color: #00FF9C; }
.jmol.Er { background-color: #00E675; }
.jmol.Tm { background-color: #00D452; }
.jmol.Yb { background-color: #00BF38; }
.jmol.Lu { background-color: #00AB24; }
.jmol.Hf { background-color: #4DC2FF; }
.jmol.Ta { background-color: #4DA6FF; }
.jmol.W { background-color: #2194D6; }
.jmol.Re { background-color: #267DAB; }
.jmol.Os { background-color: #266696; }
.jmol.Ir { background-color: #175487; }
.jmol.Pt { background-color: #D0D0E0; }
.jmol.Au { background-color: #FFD123; }
.jmol.Hg { background-color: #B8B8D0; }
.jmol.Tl { background-color: #A6544D; }
.jmol.Pb { background-color: #575961; }
.jmol.Bi { background-color: #9E4FB5; }
.jmol.Po { background-color: #AB5C00; }
.jmol.At { background-color: #754F45; }
.jmol.Rn { background-color: #428296; }
.jmol.Fr { background-color: #420066; }
.jmol.Ra { background-color: #007D00; }
.jmol.Ac { background-color: #70ABFA; }
.jmol.Th { background-color: #00BAFF; }
.jmol.Pa { background-color: #00A1FF; }
.jmol.U { background-color: #008FFF; }
.jmol.Np { background-color: #0080FF; }
.jmol.Pu { background-color: #006BFF; }
.jmol.Am { background-color: #545CF2; }
.jmol.Cm { background-color: #785CE3; }
.jmol.Bk { background-color: #8A4FE3; }
.jmol.Cf { background-color: #A136D4; }
.jmol.Es { background-color: #B31FD4; }
.jmol.Fm { background-color: #B31FBA; }
.jmol.Md { background-color: #B30DA6; }
.jmol.No { background-color: #BD0D87; }
.jmol.Lr { background-color: #C70066; }
.jmol.Rf { background-color: #CC0059; }
.jmol.Db { background-color: #D1004F; }
.jmol.Sg { background-color: #D90045; }
.jmol.Bh { background-color: #E00038; }
.jmol.Hs { background-color: #E6002E; }
.jmol.Mt { background-color: #EB0026; }
.jmol.Ds, .jmol.Rg, .jmol.Cn, .jmol.Nh, .jmol.Fl, .jmol.Mc, .jmol.Lv, .jmol.Ts,
.jmol.Og, .jmol.Uue {
  background: repeating-linear-gradient(
  45deg,
  #ffffff,
  #ffffff 5px,
  #dddddd 5px,
  #dddddd 10px
  );
}
/*-------------------- JMOL COLORS END ------------------------*/
/*-------------------- RASMOL COLORS START ----------------------*/
.rasmol.H { background-color: #FFFFFF; }
.rasmol.He { background-color: #FFC0CB; }
.rasmol.Li { background-color: #B22222; }
.rasmol.Be { background-color: #FF1493; }
.rasmol.B { background-color: #00FF00; }
.rasmol.C { background-color: #C8C8C8; }
.rasmol.N { background-color: #8F8FFF; }
.rasmol.O { background-color: #F00000; }
.rasmol.F { background-color: #DAA520; }
.rasmol.Ne { background-color: #FF1493; }
.rasmol.Na { background-color: #0000FF; }
.rasmol.Mg { background-color: #228B22; }
.rasmol.Al { background-color: #808090; }
.rasmol.Si { background-color: #DAA520; }
.rasmol.P { background-color: #FFA500; }
.rasmol.S { background-color: #FFC832; }
.rasmol.Cl { background-color: #00FF00; }
.rasmol.Ar { background-color: #FF1493; }
.rasmol.K { background-color: #FF1493; }
.rasmol.Ca { background-color: #808090; }
.rasmol.Sc { background-color: #FF1493; }
.rasmol.Ti { background-color: #808090; }
.rasmol.V { background-color: #FF1493; }
.rasmol.Cr { background-color: #808090; }
.rasmol.Mn { background-color: #808090; }
.rasmol.Fe { background-color: #FFA500; }
.rasmol.Co { background-color: #FF1493; }
.rasmol.Ni { background-color: #A52A2A; }
.rasmol.Cu { background-color: #A52A2A; }
.rasmol.Zn { background-color: #A52A2A; }
.rasmol.Ga { background-color: #FF1493; }
.rasmol.Ge { background-color: #FF1493; }
.rasmol.As { background-color: #FF1493; }
.rasmol.Se { background-color: #FF1493; }
.rasmol.Br { background-color: #A52A2A; }
.rasmol.Kr { background-color: #FF1493; }
.rasmol.Rb { background-color: #FF1493; }
.rasmol.Sr { background-color: #FF1493; }
.rasmol.Y { background-color: #FF1493; }
.rasmol.Zr { background-color: #FF1493; }
.rasmol.Nb { background-color: #FF1493; }
.rasmol.Mo { background-color: #FF1493; }
.rasmol.Tc { background-color: #FF1493; }
.rasmol.Ru { background-color: #FF1493; }
.rasmol.Rh { background-color: #FF1493; }
.rasmol.Pd { background-color: #FF1493; }
.rasmol.Ag { background-color: #808090; }
.rasmol.Cd { background-color: #FF1493; }
.rasmol.In { background-color: #FF1493; }
.rasmol.Sn { background-color: #FF1493; }
.rasmol.Sb { background-color: #FF1493; }
.rasmol.Te { background-color: #FF1493; }
.rasmol.I { background-color: #A020F0; }
.rasmol.Xe { background-color: #FF1493; }
.rasmol.Cs { background-color: #FF1493; }
.rasmol.Ba { background-color: #FFA500; }
.rasmol.La { background-color: #FF1493; }
.rasmol.Ce { background-color: #FF1493; }
.rasmol.Pr { background-color: #FF1493; }
.rasmol.Nd { background-color: #FF1493; }
.rasmol.Pm { background-color: #FF1493; }
.rasmol.Sm { background-color: #FF1493; }
.rasmol.Eu { background-color: #FF1493; }
.rasmol.Gd { background-color: #FF1493; }
.rasmol.Tb { background-color: #FF1493; }
.rasmol.Dy { background-color: #FF1493; }
.rasmol.Ho { background-color: #FF1493; }
.rasmol.Er { background-color: #FF1493; }
.rasmol.Tm { background-color: #FF1493; }
.rasmol.Yb { background-color: #FF1493; }
.rasmol.Lu { background-color: #FF1493; }
.rasmol.Hf { background-color: #FF1493; }
.rasmol.Ta { background-color: #FF1493; }
.rasmol.W { background-color: #FF1493; }
.rasmol.Re { background-color: #FF1493; }
.rasmol.Os { background-color: #FF1493; }
.rasmol.Ir { background-color: #FF1493; }
.rasmol.Pt { background-color: #FF1493; }
.rasmol.Au { background-color: #DAA520; }
.rasmol.Hg { background-color: #FF1493; }
.rasmol.Tl { background-color: #FF1493; }
.rasmol.Pb { background-color: #FF1493; }
.rasmol.Bi { background-color: #FF1493; }
.rasmol.Po { background-color: #FF1493; }
.rasmol.At { background-color: #FF1493; }
.rasmol.Rn { background-color: #FF1493; }
.rasmol.Fr { background-color: #FF1493; }
.rasmol.Ra { background-color: #FF1493; }
.rasmol.Ac { background-color: #FF1493; }
.rasmol.Th { background-color: #FF1493; }
.rasmol.Pa { background-color: #FF1493; }
.rasmol.U { background-color: #FF1493; }
.rasmol.Np { background-color: #FF1493; }
.rasmol.Pu { background-color: #FF1493; }
.rasmol.Am { background-color: #FF1493; }
.rasmol.Cm { background-color: #FF1493; }
.rasmol.Bk { background-color: #FF1493; }
.rasmol.Cf { background-color: #FF1493; }
.rasmol.Es { background-color: #FF1493; }
.rasmol.Fm { background-color: #FF1493; }
.rasmol.Md { background-color: #FF1493; }
.rasmol.No { background-color: #FF1493; }
.rasmol.Lr { background-color: #FF1493; }
.rasmol.Rf { background-color: #FF1493; }
.rasmol.Db { background-color: #FF1493; }
.rasmol.Sg { background-color: #FF1493; }
.rasmol.Bh { background-color: #FF1493; }
.rasmol.Hs { background-color: #FF1493; }
.rasmol.Mt { background-color: #FF1493; }
.rasmol.Ds, .rasmol.Rg, .rasmol.Cn, .rasmol.Nh, .rasmol.Fl, .rasmol.Mc,
.rasmol.Lv, .rasmol.Ts, .rasmol.Og, .rasmol.Uue {
  background: repeating-linear-gradient(
  45deg,
  #ffffff,
  #ffffff 5px,
  #dddddd 5px,
  #dddddd 10px
  );
}
/*-------------------- RASMOL COLORS END ------------------------*/
